<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link href="../static/css/styles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</head>
<body>
    <div id="nav-placeholder"></div>
    <script>
    $(function(){
        $("#nav-placeholder").load("../nav.html");
    });
    </script>
    <div class="container m-5">
        {% for message in messages %}
            <div class="alert alert-success my-2" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% if queryset %}
        <div class="col-8 m-3">
            <h2>Search Result:</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Stock Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Add</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in queryset %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{% url 'stock-graph' item.stockname %}">{{ item.stockname }}</a></td>
                    <td>{{ item.price }}</td>
                    <td><a href="add/?id={{ item.stockid }}&name={{ item.stockname }}"><button class="btn btn-primary">Add</button></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <h1 class="text-center">Search Something!</h1>
        {% endif %}
    </div>
</body>
</html>