<h1>homepage</h1>

<form method="POST" action="">
    {% csrf_token %}
    <label for="keyword">Keyword:</label><br>
    <input type="keyword" id="keyword" name="keyword"><br>
    <input type="submit" name="search" value ="search">
</form>

<a href="{% url 'AdvancedSearch' %}">check more information in advanced search</a>

<h2>search result</h2>
<h3>stockname    price</h2>
{% for item in queryset %}
    <p> 
        <td>{{ item.stockname  }}</td>
        <td>{{ item.price }}</td>
    </p>
{% endfor %}

