<h1>Account Home Page</h1>
{% if err %}
    <p style="color:#FF0000">Error: {{ err }}</p>
{% endif %}
<h2>Hello, {{ request.user }}</h2>

<p>Your Watchlist:</p>
<p>&emsp;&emsp;StockName, Price</p>
{% for item in watchlist %}
    <ul>
        <li>{{ item.stockname }}, {{ item.price }}</li>
    </ul>
{% endfor %}

<p>Frequencies in Watchlist:</p>
<p>&emsp;&emsp;StockName, Frequency</p>
{% for item in freqs %}
    <ul>
        <li>{{ item.stockname }}, {{ item.freq }}</li>
    </ul>
{% endfor %}

<a href="{% url 'update_password' %}">Change Password</a><br>
<a href="{% url 'logout' %}">Logout</a><br>
<a href="{% url 'delete_user' %}" onclick="return confirm('Are you sure to delete your account?')">Delete User</a>